<div class="container">
  <h1>Bien joué!</h1>
  <%= simple_form_for [@boardgame, @party] do |f| %>
    <%= f.input :end_time %>
    <%= f.submit "Terminer la partie", class: "btn btn-secondary"%>
  <% end %>
</div>
