<div class="container">
  <div>
    <h2>Sélection des joueurs</h2>
    <% @boardgame.players.each do |player| %>
      <p><%= player.username %></p>
      <p><%= player.avatar %></p>
    <% end %>
    <%= link_to "Ajouter un joueur", to: new_player_path %>

  </div>
  <h2>C'est parti!</h2>
  <ul>
    <li>Roulette du premier joueur</li>
    <li>Lanceur de dès</li>
    <li>Sablier</li>
  </ul>
  <button>Terminer la partie</button>
  <%# FORM NEW PLAYER %>
  <%# 1. Récupérer les joueurs sélectionnés %>
  <%# 2. Associer un score %>
  <%# 3. Classer les joueurs selon leurs score %>
  <%= render 'players/form', players: @player %>
</div>
