:root {
  --dark-blue: #010813;
  // --dark-blue: #181D31;
  --middle-blue: #1C3057;
  --light-blue: #586D95;
  --light-orange: #F4FEC1;
  --light-font: #F9FAF4;
  --orange-thumbnail: rgba(243, 97, 48, 0.7);
  --anthracite: #303030;
  --green: #678983;
  // --light-back: #F6F4EB;
  --light-back: #efecca;
  --turquoise: #749BC2;
  // --title-accordeon: #495579;
  --title-accordeon: #0A090C;
}
