.challenge-title h4 {
  padding-left: .6em;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Roboto', sans-serif;
  color: var(--light-font);
  font-weight: 600;
  letter-spacing: .07;
  font-size: 1.2em;
}

.challenge-card {
  border-radius: 10px 10px 0px 0px;
  // background-color: var(--dark-blue);
  // background: linear-gradient(#0c1c38, var(--dark-blue));
  // filter: drop-shadow(0 0 0.3em var(--dark-blue));
  // padding-bottom: .8em;
  &.no-bg {
    background: transparent !important;
    font-weight: 700;
    font-size: 1.1em;
  }
}

.challenge-img {
  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
}

.challenge-body {
  background-color: var(--light-back);
  font-weight: 700;
  color: black;
  border-radius: 0 0 10px 10px;
  // filter: drop-shadow(0 0 0.3em var(--light-back));
  i {
    margin-bottom: 3px;
    margin-right: 3px;
  }
}

.challenges {
  .card {
    border-radius: 10px;
  }
}
