.profil-margin{
  padding: 50px 0px 0px 24px;
}

.avatar {
  margin-right: 15px;
  border-radius: 25px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);

}

.background-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-blue);
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  p {
    font-size: 22px;
  }
}

.xp {
  color: var(--orange-thumbnail)
}

.remove-submit-btn-style {
  background: none;
  border: none;
}

.collection {
  h3 {
    padding-left: 10px;
  }
}

.badge-active:active {
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.modal {
  color: white;
}

.line-height-none {
  line-height: 0;
}

.accordion-button {
  background-color: var(--title-accordeon);
  color: var(--light-font);
  font-size: .7em;
  letter-spacing: .03em;
  font-family: 'Roboto','sans-serif';
  padding: .6em;
}

.animate-character
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
