//DIVERS

// .container.party {
//   width: 98%;
// }

.title-party {
  padding-bottom: .5em;
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  // font-variant-caps: small-caps;
  letter-spacing: .05em;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid #ffcd39;
  width: 90%;
  margin: 0 auto 1em auto;
  color: var(--light-font);
}

.section-selection, .container-go,.container-scores,
.container-challenges {
  width:90%;
  padding: 1em 0;
  margin: 2em auto;
  // background: linear-gradient(30deg, var(--middle-blue), var(--dark-blue));
  background-color: var(--middle-blue);
  // box-shadow : inset 4px 4px 14px var(--dark-blue);
  border-radius: 10px;
  filter: drop-shadow(0 0 0.3em var(--dark-blue));
}

//PLAYERS SECTION
.player-container {
  background-color: var(--light-blue);
  box-shadow : inset 5px 5px 12px black;
}

.bounced {
  animation: bounce 2s ease infinite;
  @keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
  }
}

.add-player {
  display: flex;
  width: 100%;
  justify-content: center;
}

#new_player {
  display: flex;
  margin: 1em auto;
  align-items: end;
}

.add-btn {
  height: fit-content;

}

//PARTIE EN COURS

.first-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-player li, .challenges li {
  list-style-type: none;
}

.spin-icon {
  font-size: 2em;
}

//PARTIE FINIE CHALLENGES


//PARTIE FINIE

.flex-scores {
  display: flex;
}

.score-field {
  width: 15%;
}

//BTN RETURN
.container-return-btn {
  display: flex;
  justify-content: center;
}

.return-game a {
  color: black;
  text-decoration: none;
}


#player_score {
  width: 100px;
}
