//DIVERS

// .container.party {
//   width: 98%;
// }

.title-party {
  padding: 0 0 .5em .5em;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  // font-variant-caps: small-caps;
  letter-spacing: .07em;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid var(--anthracite);
  // background-color: var(--title-accordeon);
  width: 90%;
  margin: 0 auto 1em auto;
  color: black;
}

.section-selection, .container-go,.container-scores,
.container-challenges {
  width: 90%;
  padding: 1em 0;
  margin: 1em auto;
  background: var(--light-back);
  // box-shadow : inset 4px 4px 14px var(--dark-blue);
  border-radius: 10px;
  color: black;
  filter: drop-shadow(0 0 0.3em var(--dark-blue));
}

//PLAYERS SECTION
.player-container {
  background-color: var(--light-blue);
  box-shadow : inset 5px 5px 12px black;
}

.bounced {
  animation: bounce 2s ease infinite;
  @keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
  }
}

.add-player {
  display: flex;
  width: 100%;
  justify-content: center;
}

#new_player {
  display: flex;
  margin: 1em auto;
  align-items: end;
}

.add-btn {
  height: fit-content;

}

//PARTIE EN COURS

.first-player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.first-player li, .challenges li {
  list-style-type: none;
  font-weight: 700;
  font-size: 1.2em;
}

.spin-icon {
  font-size: 2.2em;
}

//PARTIE FINIE CHALLENGES


//PARTIE FINIE

.flex-scores {
  display: flex;
}

.score-field {
  width: 15%;
}

//BTN RETURN
.container-return-btn {
  display: flex;
  justify-content: center;
}

.return-game a {
  color: white;
  text-decoration: none;
}


#player_score {
  width: 100px;
}
