.category-container{
  display: flex;
  gap: 2em;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: center;
  .category {
    background-color: var(--orange-thumbnail);
    padding: 0.5em 0.3em;
    list-style: none;
    border-radius: 0.3em;
  }
}

.basic-game-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
  margin-bottom: 1.5em;
  i {
    background-color: var(--light-blue);
    padding: 0.5em;
    width: 8em;
    text-align: center;
  }
}

.party-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  gap: 1em;
  .party-card {
    border: 0.1em solid white;
    border-radius: 0.3em;
    margin-bottom: 1em;
    width: 80%;
  }
}

.challenges-container {
  .challenge-card {
    background-color: var(--middle-blue);
    width: 80%;
    margin-bottom: 1em;
    border-radius: 0.3em;
    padding: 0.4em;
    list-style: none;
  }
}
