<div class="d-flex align-items-center justify-content-center">
  <%= link_to "Déconnexion",
  destroy_user_session_path,
  class: "nav-link btn-action #{ 'hidden' if user_signed_in? == false }",
  data: {turbo_method: :delete}%>
</div>
