<div class="tab-bar d-flex align-items-center justify-content-center justify-content-evenly">
  <%= link_to boardgames_path, class: "active" do %>
    <i class="fa-solid fa-indent fa-xl"></i>
  <% end %>
   <%= link_to "#", class: "inactive" do %>
    <i class="fa-solid fa-trophy fa-xl"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to user_path(current_user), class: "active" do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "active" do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  <% end %>
</div>
