<div data-controller="tabbar-active" class="tab-bar d-flex align-items-center justify-content-center justify-content-evenly">
  <%= link_to boardgames_path, data: { tabbar_active_target: "tab1" } do %>
    <i class="fa-solid fa-indent fa-xl"></i>
  <% end %>
   <%= link_to challenges_path, data: { tabbar_active_target: "tab2" } do %>
    <i class="fa-solid fa-trophy fa-xl"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to user_path(current_user), data: { tabbar_active_target: "tab3" } do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, data: { tabbar_active_target: "tab4" } do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  <% end %>
</div>
