<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="my-3"  data-controller="search">
      <%= form_with url: boardgames_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Rechercher un jeu...",
              data: {action: 'keyup->search#handleSubmit', target: 'search.query'}
          %>
        <%= submit_tag "Chercher", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
