<%= link_to boardgames_path do %>
  <div class="welcome" style="background-image: url('<%= image_path("dice.jpg") %>')">
    <p class="welcome-title">time<span class="two-title">2</span>play</p>
  </div>
<% end %>
