.card-trip {
  height: 11em;
  width: 11em;
  padding: 1em;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 2px 10px var(--dark-blue);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1.4em 0;
  margin-top: 2em;
  padding-bottom: 85px;
}
.game-name {
  position: absolute;
  width: 9em;
  margin: 0 auto;
  bottom: .5em;
  color: white;
  text-align: center;
  background-color: var(--orange-thumbnail);
  border-radius: 4px;
}

.challenges-banner {
  height: 180px;
  object-fit: cover;
}
