.game-banner {
  position: relative;
  i {
    position: absolute;
    bottom: 45px;
    right: 20px;
  }
}

.top-container {
  box-sizing: cover;
}

.show-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.btn-validate:active {
	color: white;
}
