.btn-action {
  color: white;
  background-color: var(--middle-blue);
  width: 80%;
  border-radius: 15px;
  text-align: center;
  font-size: 28px;
  padding: 10px;
}

.logout {
  margin-bottom: 92px;
}
