.tab-bar {
  background-color: var(--middle-blue);
  width: 100%;
  height: 58px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.active{
  color: #ffcd39;
}

.inactive{
  color: var(--light-font);
}
