<%= render "boardgames/partials/search" %>

<div
  data-lens-gcloudk-value="<%= ENV['GCLOUD_KEY'] %>"
  data-lens-gcloudu-value="<%= ENV['GCLOUD_USER'] %>"
  data-controller="lens"
  class="container video-view d-flex align-items-center flex-column">
  <video autoplay id="video" class="hidden"></video>
  <button id="captureButton" class="btn btn-info btn-large">Recherche photo</button>
  <button id="captureImgButton" class="btn btn-info btn-large camera-btn hidden mt-3"><i class="fa-solid fa-camera" style="color: #ffffff;"></i></i></button>
  <canvas id="canvas" class="hidden"></canvas>
  <button id="sendImgButton" class="btn btn-info btn-large camera-btn hidden mt-3"><i class="fa-solid fa-share-from-square" style="color: #ffffff;"></i></button>
</div>

<div class="container">
  <div class="cards">
    <% @boardgames.each do |boardgame| %>
      <%= render "shared/card", boardgame: boardgame %>
    <% end %>
  </div>
</div>

<div id="lds-roller" class="d-none position-absolute top-50 start-50 translate-middle"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
