<%= render "boardgames/partials/search" %>
 <div class="container">
    <div class="cards">
        <% @boardgames.each do |boardgame| %>
          <%= render "shared/card", boardgame: boardgame %>
        <% end %>
    </div>
</div>
