<div class="container">
  <h1 class="title-page">Ludothèque</h1>
</div>
<%= render "boardgames/partials/search" %>

<div class="container">
  <div class="cards">
    <% @boardgames.each do |boardgame| %>
      <%= render "shared/card", boardgame: boardgame %>
    <% end %>
  </div>
</div>

<div id="lds-roller" class="d-none position-absolute top-50 start-50 translate-middle"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
