<div class="container">
  <button id="captureButton">Prendre une photo</button>
</div>
<%= render "boardgames/partials/search" %>
<div class="container">
  <div class="cards">
    <% @boardgames.each do |boardgame| %>
      <%= render "shared/card", boardgame: boardgame %>
    <% end %>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const captureButton = document.getElementById("captureButton");

  captureButton.addEventListener("click", function() {
    // Accéder à la caméra de l'utilisateur
    navigator.mediaDevices
      .getUserMedia({ video: true })
      .then(function(stream) {
        const videoElement = document.createElement("video");
        document.body.appendChild(videoElement);
        videoElement.srcObject = stream;
        videoElement.play();

        // Attendre que l'utilisateur prenne la photo
        setTimeout(function() {
          const canvas = document.createElement("canvas");
          canvas.width = videoElement.videoWidth;
          canvas.height = videoElement.videoHeight;
          canvas.getContext("2d").drawImage(videoElement, 0, 0, canvas.width, canvas.height);

          // Convertir l'image en base64
          const imageDataUrl = canvas.toDataURL("image/png");

          // Envoyer l'image à Imgur
          fetch("https://api.imgur.com/3/upload", {
            method: "POST",
            headers: {
              Authorization: `Client-ID ${process.ENV.IMGUR}`// Remplacez par votre ID client Imgur
            },
            body: JSON.stringify({
              image: imageDataUrl.split(",")[1] // Supprimez le préfixe "data:image/png;base64,"
            })
          })
            .then(response => response.json())
            .then(data => {
              // Récupérez l'URL de l'image téléchargée depuis la réponse d'Imgur
              const imageUrl = data.data.link;

              // Faites quelque chose avec l'URL de l'image, par exemple, l'afficher
              console.log("URL de l'image téléchargée :", imageUrl);
            })
            .catch(error => {
              console.error("Erreur lors du téléchargement de l'image sur Imgur", error);
            });

          // Arrêter la caméra et retirer l'élément vidéo
          stream.getTracks().forEach(track => track.stop());
          videoElement.remove();
        }, 2000); // Temps en millisecondes pour prendre la photo
      })
      .catch(function(error) {
        console.error("Erreur lors de l'accès à la caméra", error);
      });
  });
});
</script>
